.GraphsScreen {
    display: grid;
    padding: 1rem;
    padding-top: 2rem;
}

.HomeLink {
    display: grid;
    padding-left: 5rem;
    place-items: start;
}

.Spinner {
    display: grid;
    place-items: center;
}

.Filename {
    display: grid;
    padding-top: 2rem;
    padding-left: 5rem;
    place-items: start;
}

.TableAndDownloadLinks {
    display: grid;
    grid-template-columns: 60rem 40rem;
    grid-template-areas: "summary-table csv-download-links";
    padding-top: 3rem;
    padding-left: 5rem;
}

.SummaryTable {
    display: grid;
    grid-area: summary-table;
}

.CsvDownloadLinks {
    display: grid;
    grid-area: csv-download-links;
    justify-items: center;
    font-size: x-large;
}
